* {
  font-family: "Roboto", sans-serif;
}
h1,
h3,
h4,
p {
  margin: 0;
}

.shadow-on-hover {
  transition: transform 0.5s, box-shadow 1s;
}
.shadow-on-hover:hover {
  transform: scale(1.02) perspective(0px);
}
.blue-shadow:hover {
  box-shadow: 0 0 15px rgba(20, 152, 175, 0.8);
}
.red-shadow:hover {
  box-shadow: 0 0 15px rgba(143, 2, 2, 0.8);
}
